 body {
   font-family: Arial, sans-serif;
   background-color: #f5f5f5;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: auto;
 }

 .container {
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: center;
   width: 45%;
 }

 textarea {
   width: 100%;
   margin-bottom: 10px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
 }

 .button-group button {
   margin: 5px;
   padding: 10px 20px;
   font-size: 16px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   background-color: #f6d96d;
 }

 .button-group button.preview-button {
   background-color: #4caf50;
   color: #fff;
 }

 .button-group button.download-button {
   background-color: #008CBA;
   color: #fff;
 }
 
 
 .button-group button.paste-button {
   background-color: #2196F3;
   color: #fff;
}


 header {
   background-color: #4caf50;
   color: #fff;
   padding: 10px 0;
   text-align: center;
   width: 100%;
 }

 footer {
   background-color: #4caf50;
   color: #fff;
   text-align: center;
   padding: 10px 0;
   width: 100%;
 }
